<h1>Recommendation Submission</h1>


<form action = "add_recom" method="POST">
	<input type="text" id="title" name="title">
		Title
	</field>
	<input type="text" id="genre" name="genre">
		genre
	</field>
	<input type="submit">
	<input name='authenticity_token' type='hidden' value='<%=form_authenticity_token%>'	/>
</form>